{% extends 'base.html' %}
{% block content %}
  <style>
                    .bgimg {
                        border: 0;
                        padding: 0; 
                        background-image: url('https://t1.daumcdn.net/thumb/R720x0/?fname=http://t1.daumcdn.net/brunch/service/user/3rYK/image/1E_5WF52ZAaSsUfbgbf6zOBCOHQ');
                        min-height: 100%;
                        background-position: center;
                        background-size: cover;
                          }
               .in_text {
                  padding: 5px 10px;
                  text-align: center;
                  position: absolute;
                  top: 60%;
                  left: 50%;
                  transform: translate( -50%, -50% );
                  font-size: 80px;
                  background: linear-gradient(to right,whitesmoke, #fbcac9, #8ca6ce, whitesmoke);
                  -webkit-background-clip: text;
                  -webkit-text-fill-color: transparent;
                  }
  </style>
<body>
  <br>
  <div class="bgimg"></div>
  <div class="in_text">여기는 서지형의 페이지 입니다.</div>
  
</body>
  {% endblock %}