{% extends 'base.html' %}
{% block content %}
  <style>
               .bgimg {
                  border: 0;
                  padding: 0; 
                  background-image: url("‪C:\Users\user\Pictures\야구장.jpeg");
                  min-height: 100%;
                  background-position: center;
                  background-size: cover;
                          }
               .in_text {
                  padding: 5px 10px;
                  text-align: center;
                  position: absolute;
                  top: 60%;
                  left: 50%;
                  transform: translate( -50%, -50% );
                  font-size: 80px;
                  background: linear-gradient(to right,whitesmoke, #fbcac9, #8ca6ce, whitesmoke);
                  -webkit-background-clip: text;
                  -webkit-text-fill-color: transparent;
                  }
  </style>
  <div class="bgimg"></div>
    <div class="in_text">여기는 서지형의 페이지 입니다.</div>
  {% endblock %}